html, body {
  height: 100%;
  width: 100%;
}

.wrap-flex { display: flex; }
.wrap-flex > * {
    width: 90%;
    /** border: 1px solid grey;**/
  }

body{
  background-color: #e9c684
}

.white{
  color: rgb(255, 255, 255)
}

.brown{
  color:rgb(110, 60, 21) 
}

#font{
  font-style:oblique;
}

.image{
  height: 15%;
  width: 15%;
}
